@import "../../styles/variables.scss";

.section3 {
  @include section();
  background-color: $darkblue;
  -webkit-box-shadow: 0px 10px 26px 4px rgba(0,0,0,0.21);
-moz-box-shadow: 0px 10px 26px 4px rgba(0,0,0,0.21);
box-shadow: 0px 10px 26px 4px rgba(0,0,0,0.21);
}

.white-heading-1 {
  @include heading-1();
  color: $dull-white;
}

.white {
  color: $dull-white;
}

.counselling-btn {
  @include btn-1();
  font-family: $card-font;
  transition: all 0.3s linear;
  color: $yellow;
  border: 0.5px solid $yellow;
}

.counselling-btn:hover {
  background-color: $yellow;
  color: black;
  font-weight: 600;
}
