.university-logo{
    width: 154px;
    height: 148px;
    margin: 0 20px;
}


@media only screen and (max-width:800px) {
    .university-logo{
        width: 154px;
        height: 148px;
        margin: 0 20px;
    }
}