@import "../styles/variables.scss";



.newletter-card-container{
    width: 268px;
    // background-color: bisque;
    margin: 0 40px;
}
.newsletter-card-img{   
    height: 200px;
    border-radius: 20px 20px 0 0;
}


.newsletter-heading{
    @include heading-4();
    margin: 5px ;
}


.newsletter-para{
    font-family: $para-font;
    margin: 5px;
    font-size: 15px;
}


@media only screen and (max-width: 768px) {
    .newletter-card-container{
        width:300px;
        // background-color: bisque;
        margin: 40px 0;
        color: $dull-black;
        
    }

    .newsletter-card-img{   

        height: 90%;
        width: 100%;
        border-radius: 20px 20px 0 0;
    }
    .newsletter-para{
        font-family: $para-font;
        margin: 5px;
        font-size: 15px;
    }
    
}