@import "../styles/variables.scss";

.college-page {
}

.college-img-container {
  position: relative;
  color: $dull-white;
}

.clg-img {
  width: 100%;
  height: 500px;
  background-size: cover;
  filter: brightness(0.3);
}

.college-logo {
  width: 154px;
  height: 148px;
  margin: 0 20px;
  position: static;
  opacity: 2;
}
.college-name {
  @include heading-3();
  position: static;
  font-weight: 600;
  margin-top: 30px;
}
.college-heading-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 80px;
  left: 750px;
}

.college-address-container {
  // background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  margin-top: 20px;
}

.college-address {
  font-family: $para-font;
}

.college-heading-icons {
  color: #ffd700;
}

.college-address,
.ugc-details {
  display: flex;
  justify-content: center;
  align-items: center;
}

.college-info-blog-container {
  text-align: center;
  padding: 20px 10px;
}

.college-info-container {
  width: 800px;

  margin: auto;
}

.college-info-heading-container {
  display: flex;
  flex-direction: row;

  justify-content: start;
  background-color: aliceblue;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);
  padding: 10px
}

.college-info-heading {
  @include heading-4();
  margin-left: 10px;

}
.college-heading-icon > svg {
  color: $yellow;
  margin-top:3px; 
}
.college-info {
  @include para();
  display: flex;
  text-align: start;
  margin: 25px;
  line-height: 2;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
}
