$yellow: #f8cc1d;
$dull-yellow: #f8cc1d7f;
$bright-yellow: #f4c815;
$darkblue: #0e2345;
$white: #ffff;
$dull-white: #f1e6e6;
$dull-black: rgba(0, 0, 0, 0.85);
$navbar-heading-color: #f1e7e7;
$navbar-para-color: #beb5b5;

$heading-font: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
$para-font: "Varela Round", sans-serif;
$card-font: "Inconsolata", monospace;
$footer-bg:#1a1a1a;
$sub-footer-bg:#222;

//mixins

@mixin heading-3() {
  font-size: 40px;
  font-family: $heading-font;
}

@mixin heading-4() {
  font-size: 25px;
  font-family: $heading-font;
}
@mixin heading-2() {
  font-size: 50px;
  margin-bottom: 25px;

  font-family: $heading-font;
}

@mixin heading-1 {
  font-size: 55px;
  margin-bottom: 25px;
  font-family: $heading-font;
}

@mixin para() {
  font-size: 16px;
  font-family: $para-font;
  line-height: 1.5;
}

@mixin para2() {
  font-size: 14px;
  font-family: $card-font;
  line-height: 1.5;
}

@mixin section() {
  padding: 95px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin section-container() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin btn-1() {
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  font-size: 15px;
  border-radius: 20px;
  color: white;
  background-color: $dull-black;
  cursor: pointer;
}

@mixin btn-2() {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  font-size: 15px;
  border-radius: 2px;
  color: white;
  background-color: $darkblue;
  cursor: pointer;
  font-family: $card-font;
}
